body {
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2 {
    font-family: 'Sen', sans-serif;
    color: #232536;
  }
  
  .category-card, .author-card {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .category-card:hover, .author-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-color: #FFD050;
  }
  
  /* Customize Bootstrap components with project colors */
  .bg-dark {
    background-color: #232536 !important;
  }
  
  .text-white {
    color: #F4F4F4 !important;
  }
  
  footer {
    background-color: #4C4C4C;
  }
  
  .container h2 {
    color: #FFD050;
  }
  
  .card-title {
    color: #592EA9;
  }
  
  .card-text {
    color: #6D6E76;
  }

  .overlay-text {
    color: #FFD050; /* Custom color */
    border-left: 2%;
    padding: 30px;
    max-width: 400px; /* Limit text container width */
    border-radius: 12px;
  }
  
  .overlay-text h2 {
    font-family: 'Sen', sans-serif;
    font-size: 300%;
  }
  

  /* Adjust card layout for mobile */
@media (max-width: 768px) {
    .category-card, .author-card {
      margin-bottom: 20px;
    }
  
    .container h2 {
      font-size: 1.5rem;
    }
  }
  
  